<div class="container-fluid login-container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" class="form-control" [(ngModel)]="email" (keyup.enter)="login()">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" (keyup.enter)="login()">
        </div>
        <button type="button" class="btn btn-primary btn-block" (click)="login()">Log In</button>
        <div class="text-danger" [class.invisible]="!authError">Your email or password is incorrect.</div>
      </form>
    </div>
  </div>
</div>
